.eventTable tr:not(:first-child):hover {
    cursor: pointer;
}

.logo {
    height: 100%;
}

.navbar-brand {
    height: 80px !important;
}

td {
    max-width: 500px;
}
th {
    text-align: center !important;
}
table, th, td {
    border: black 1px solid !important;
}

.control-nav {
	margin-top: 2% !important;
}

.nav .btn {
	margin-right: 5px !important;
	margin-left: 5px !important;
}

.short-panel {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.alert {
	margin-top: 30px;
	text-align: center;
}

#main-event-table {
    margin: 20px !important;
}

.dataTables_wrapper .dataTables_filter {
    text-align: center !important;
    float: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 3px;
    border: black 1px solid;
}