{% extends "layout.html" %}
{% block content %}


<div class="events-detail-view">
    <h1>{{ event_name }}{% if event_private %}<span class="private-event">(private event)</span>{% endif %}</h1>
    <h4>{{ event_loc }}</h4>
    <h6>{{ event_date }}</h6>
    <p>{{ event_desc }}</p>

    <div class="text-center">
        {% if not org_status and not event_private%}
            {% if unregister %}
                <a class="btn btn-primary red-button" href="/clubs/{{org_id}}/events/{{event_id}}/unregister">Unregister</a>
            {% else %}
                <a class="btn btn-primary" href="/clubs/{{org_id}}/events/{{event_id}}/register">Register</a>
            {% endif %}
        {% endif %}
        <a class="btn btn-default" href="/clubs/{{org_id}}">All Events</a>
        <a class="btn btn-default" href="/">Home</a>
    </div>

    <div class="">
        {% if participants and org_status %}
            <p>{{ participants|length }} person(s) registered for this event:</p>
            <table class="participants-table table table-striped table-hover">
                {% for p in participants %}
                    <tr class="">
                        <td>{{ p.username }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <ul class="player-list" id="sortable">
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
    </ul>

</div>
<script>
    $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
    });
</script>
{% endblock %}