{% extends "layout.html" %}
{% block content %}

<div class="contentView">
    <!--<div class="headerText">
        <h1>Your tournaments. Organized.</h1>
        <h4>We make it easy to organize golf events.</h4>
    </div>-->
    <div class="headerText">
        <h1>&nbsp;</h1>
        <h4>&nbsp;</h4>
    </div>
    <table id="main-event-table" class="table table-bordered table-hover table-striped eventTable">
        <thead style="display:none;">
            <tr>
                <th>Event Name</th>
                <th>Location</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody style="display:none;">
            {% for event in events %}
                <tr onclick="document.location='clubs/{{event.organizer.username}}/events/{{event.id}}';">
                    <td>{{ event.name }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#main-event-table').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { 
                "sSearch": "" 
            }
        });

        var mainSearch = $('#main-event-table_filter input');
        mainSearch.attr('placeholder', 'Search by event name, location, or date');
        mainSearch.keyup(function() {
            if(mainSearch.val() == "") {
                $("#main-event-table thead").hide();
                $("#main-event-table tbody").hide();
            }
            else {
                $("#main-event-table thead").show();
                $("#main-event-table tbody").show();
            }
        });        
    });
</script>

{% endblock %}