{% extends "layout.html" %}
{% block content %}

<div class="org-view">
    <h1>{{ club_name }}</h1>
    <h4>{{ club_address }}</h4>
    <h4>{{ club_phone }}</h4>
    {% if club_organizer %}
        <h6>Organizer: {{club_organizer}}</h6>
    {% endif %}

    {% if org_status %}
        <button class="btn btn-primary" onclick="location.href='/clubs/{{request.user.username}}/create';">Create event</button>
    {% endif %}

    <table class="events-table table table-striped table-hover">
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            {% if org_status %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for event in events %}
            <tr onclick="location.href='/clubs/{{request.user.username}}/events/{{event.id}}';">
                <td>{{event.name}}</td>
                <td>{{event.description}}</td>
                <td>{{event.location}}</td>
                <td>{{event.date}}</td>
                {% if org_status %}
                    <td><a href="/clubs/{{request.user.username}}/events/{{event.id}}/edit">Edit</a></td>
                    <td><a class="delete-row" href="/clubs/{{request.user.username}}/events/{{event.id}}/delete">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}