{% extends "layout.html" %}
{% block content %}

<div class="org-view">
    
    <div class="row">
        <div class="org-metadata col-sm-12 col-md-6">
            <h1>{{ club_name }}</h1>
            <div class="org-avatar">
                <img src="http://www.logomyway.com/marketPlace/GufoADVerso_3277/GOLF1.jpg"/>
            </div>
            <div class="org-info">
                <h4>{{ club_address }}</h4>
                <h4>{{ club_phone }}</h4>
                {% if club_organizer %}
                    <h6>Organizer: {{club_organizer}}</h6>
                {% endif %}
            </div>
        </div>
        
        {% if org_status %}
            <div class="org-control-center col-sm-12 col-md-5">
                <button class="btn btn-primary" onclick="location.href='/clubs/{{org_id}}/create';">New Event</button>
                <button class="btn btn-primary">Change Logo</button>
                <button class="btn btn-primary">Update Info</button>
                {% if False and org_status %}
                    <div class="org-change-avatar"><input value="change" type="file"/></div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <table class="events-table table table-striped table-hover">
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            {% if org_status %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for event in events %}
            <tr onclick="location.href='/clubs/{{org_id}}/events/{{event.id}}';">
                <td>{{event.name}}</td>
                <td>{{event.description}}</td>
                <td>{{event.location}}</td>
                <td>{{event.date}}</td>
                {% if org_status %}
                    <td><a href="/clubs/{{org_id}}/events/{{event.id}}/edit">Edit</a></td>
                    <td><a class="delete-row" href="/clubs/{{org_id}}/events/{{event.id}}/delete">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}