{% extends "layout.html" %}
{% block content %}

<div class="org-view">
    <h1>{{ club_name }}</h1>
    <h4>{{ club_address }}</h4>
    <h4>{{ club_phone }}</h4>
    {% if club_organizer %}
        <h6>Organizer: {{club_organizer}}</h6>
    {% endif %}

    {% if org_status %}
        <button class="btn btn-primary" onclick="location.href='/clubs/{{request.user.username}}/create';">Create event</button>
    {% endif %}

    <table class="events-table">
        <tr>
            <thead>Event Name</thead>
            <thead>Description</thead>
            <thead>Location</thead>
            <thead>Date</thead>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}