{% extends "layout.html" %}
{% block content %}
<div class="short-panel">
	<form action="" method="POST">
	    {% csrf_token %}
        <div class="form-group">
            <p>If you're an event organizer, <a href="/orgsignup">sign up here</a>.</p>
        </div>

	    <div class="form-group">
            <input class="form-control" name="username" type="username" placeholder="Username*">
        </div>
	    
	    <div class="form-group">
            <input class="form-control" name="password" type="password" placeholder="Password*"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="confirm-password" type="password" placeholder="Confirm password*"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="full-name" type="text" placeholder="Full name">
        </div>

        <div class="form-group">
            <input class="form-control" name="email" type="email" placeholder="Email*"/>
        </div>

	    <div class="text-center form-group">
            <button class="btn-signup">Sign Up</button>
        </div>
	</form>
    
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }} </div>
    {% endif %}
</div>

{% endblock %}

